.container {
  display: flex;
  align-content: space-between;
}

.report-field {
  width: 30%;
  margin-right: 40%;
}

.report-item {
  margin-bottom: 5%;
}

.leader-board {
  width: 30%
}
.nav-bar {
  margin-bottom: 5%;
}

.card {
  background-color:#d5ded7;
  font-size: smaller;
}

.button {
  margin: 10px;
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: left;
}

.card-view {
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: small;
  margin-bottom: 20%;
  font-weight: 100;
}

.edit-button {
  font-weight: 100;
  margin-bottom: 10px;
}

.form-field {
  width: 50%;
}

.login-registration-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 40%;
}