.container {
  display: flex;
  align-content: space-between;
}

.report-field {
  width: 30%;
  margin-right: 40%;
}

.report-item {
  margin-bottom: 5%;
}

.leader-board {
  width: 30%
}
.nav-bar {
  margin-bottom: 5%;
}

.card {
  background-color:#d5ded7;
}

.button {
  margin: 10px;
}